
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    padding: 5px;
}
#canv {
    position:absolute;
}
#canv2 {
    position:absolute;
}
#all {
    width:100%;
    height:100vh;
}
#top {
    top:0px;
    height: 40px;
    padding:5px;
    border-bottom: 2px solid #336;
}
#middle {
    top:40px;
    height: calc( 100% - 60px );
}
#bottom {
    font-size: 8pt;
}
#leftpanel {
    font-size:12pt;
    width: 200px;
    height: 100%;
    float:left;
}
#movable {
    width: 20px;
    height: 100%;
    float:left;
    background-color: #aaa;
    border-left: 1px solid #336;
    border-right: 1px solid #336;
}
#rightpanel {
    height: 100%;
    float:left;
}
#bottom {
    border-top: 2px solid #336;
    bottom:0px;
    height: 20px;
}
#stage {
    width: 100%;
    height: 100%;
}
#leftpaneltop {
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #669;
}
#leftpanelcontent {
    height: calc( 100vh - 115px );
    border-top: 1px solid black;
    width: 100%;
    overflow-y: scroll;
}
.dialog-window {
    background-color: #fff;
    border: 1px solid #aaa;
    position: absolute;
    text-align:center;
    padding:20px;
    display:none;
    
    left: 25vw;
    width: 50vw;
    top: 10vh;
}
.dialog-window-wider {
    left: 12.5vw;
    width:75vw;
}
.shown-debug{
    display:block;
}
.hidden {
    display:none;
}
.dialog-window-row {
    border: 1px solid #000;
    padding: 20px;
}
.dialog-window-title {
    text-align:left;
    font-size:12px;
    margin-top:10px;
}

.dialog-window-split-wider {
    width:65%;
    display: inline-block;
    float:left;
}
.dialog-window-split-narrower {
    width:28%;
    display: inline-block;
    float:left;
    margin-left:3%;
}
#layer-import {
    /*height: 70vh;*/
}

.little-padding {
    margin-top:15px;
    padding:2px;
}
.small-font {
    margin-top:15px;
    padding:2px;
    font-size:12px;
}
.menu-img {
    border-right:1px solid black;
    height:29px;
}
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}
.window-closer {
    border: 1px solid black;
    background-color: white;/*
    font-weight:bold;*/
    text-align:center;
    position: absolute;
    right:10px;
    top:10px;
    width:40px;
    height:40px;
    font-size:25px;
}
.separator {
    border: 1px solid #888;
    margin:0px 3px 0px 3px
}
.toolbar-button {
    width:23px;
    height:23px;
}
.table-input {
    border:2px solid black;
    width:100%;
    height:100%;
}
.gray-border {
    border:1px solid gray;
}
.feature-table {
    text-align:left;
    padding-bottom:5px;
    width:100%;
}
tr {
    margin-top:2px;
    margin-bottom:2px;
}
.right-toolbar {
    display:inline-block;
    position:absolute;
    right:5px;
}
.time-input {
    display:inline-block;
}
.scrollable-y {
    overflow-y: scroll;
    height:calc( 100vh - 400px );
}
.time-button{
    margin-left:0px;
    margin-right:0px;
    margin-top:4px;
    padding:0;
}
.yearsize {
    width:60px;
    top:0px;
    box-sizing: border-box;
}
.daysize {
    width:20px;
    top:0px;
    box-sizing: border-box;
}
.time-span {
    font-size:10pt;
    color:#008
}
.edit-version-text {
    font-size:12pt;
    color:#080
    
}
.preview-canvas { 
    border:1px solid black;
}
div {
    /*border: 1px solid red; /*TEMPORARY
    */box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}






